
{%extends 'base.html'%}
{% load static %} {% load bootstrap4 %}


{% block content %}
<div class="container" style="margin-top:20px;">
<section>
  <h4 class="text-center">MY ACCOUNTS</h4>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-3"><button class="btn waves-effect right modal-trigger" ><i class="material-icons white-text left">add_circle</i><a href="{% url 'finplanner:new_account' %}" style="color:#fff">Add Account</a></button></div>
      <div class="col-md-2">
        <h6 class="text-center">Net Balance :  </h6>

      </div>

      <div class="col-md-4"></div>
    </div>



  <hr>
    <div class="row">
      {% for account in accounts%}
      <div class="col-md-4">
        <a href="{% url 'finplanner:detail' id=account.id %}">

          <div class="card-panel">
              <h3 style="color:blue;"> {{ account.name  }}</h3>
                <h5 class="bold green-text">Ksh. {{ account.budget_left  }}</h5>
          </div>
        </a>

      </div>
      {% endfor %}
      </div>

  </section>
</div>






{% endblock %}
