{% extends 'base.html' %}

{% block content%}

<div class="laptop" style="">

    <div class="col s12 m7" style="padding: 30px 100px 30px 100px;">
        <h5 class="header" style="text-align: center;">Who are We???</h5>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://dmi-uploads.imgix.net/general/blog_interviewtips.jpg?fit=crop&fm=jpg&h=1200&ixlib=php-1.1.0&q=60&w=1600&s=35a33496d9b893894d7d4bf4c7e1625f"
                    height=500px width=400px>
            </div>

            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        <p style="font-size: 20px;">financial services websites can be intimidating.
                            Whether
                            you
                            are taking out a loan,
                            calculating
                            your federal income
                            taxes or simply sending money to a family member, a website's usability can
                            make or
                            break your
                            experience. The
                            overall
                            aesthetic of a financial services website should be comforting, yet confident
                            --
                            simple, yet
                            personal. Indeed, we
                            found
                            that the most successful financial websites spoke to users in a way that
                            resembled
                            a
                            face-to-face conversation
                            rather
                            than "selling" at them. We judged many financial websites on several factors,
                            including
                            ease of
                            use, design,
                            interactivity, innovation and copywriting. The following financial services
                            website
                            examples
                            represent the best
                            practices in financial web design. Feel free to use these for web design
                            inspiration!</p>
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">View More...</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<h2 style="text-align: center;">What We Do.</h2>
<div class="laptop" style="">

<div class="row" style="padding-left:30px; padding-right:30px; border:3px solid blue;">

    <div class="col s12 l3">
        <div class="card-panel">
            <h5>We help you budget you save your mmoney </h5>
        </div>
    </div>
    <div class="col s12 l3">
        <div class="card-panel">
            <h5>Keeping track of your expences one best you spend your money</h5>
        </div>
    </div>

    <div class="col s12 l3">
        <div class="card-panel">
            <h5>Help you have a track of historical data about your expenses</h5>
        </div>
    </div>

    <a href="" class="btn waves-effect waves-light deep-orange lighten-2">Getting Started</a>

</div>
</div>
</div>
</div>


<footer class="page-footer" style="background-color:#5E7B8B;">
<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Contact Information</h5>
            <p class="grey-text text-lighten-4">You can find us on:</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <hr>
            <ul class="social-media-list">
                <li><a href="" target="_blank" class="contact-icon">
                        <i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li><a href="" target="_blank" class="contact-icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li><a href="#" target="_blank" class="contact-icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2018 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</div>
</footer>


<!---->



<!-- End // .directional_nav -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>













{% endblock %}
