{% load static %}
<head>
<style>
#form1 {
    margin-left: 200px;
}

.side-nav li a {
    text-decoration: none;
}

#searchResults2 {
    background-color: #666666;
}

#searchResults {
    background-color: #666666;
}

.right li a {
    padding-right: 2em;
    text-decoration: none
}
#navbar{
  margin:0 6px;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

<div class=" ">
    <nav >
        <div class="nav-wrapper blue-grey" id="navbar">
            <a href="{% url 'finplanner:index'%}" class="brand-logo" style="text-decoration:none">FinPro</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <!-- <ul class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
              <li><a href="{% url 'finplanner:expenses' %}" class="btn waves-effect waves-light deep-orange lighten-2">MY EXPENSES</a></li>
              <li><a href="{% url 'finplanner:create_expense' %}" class="btn waves-effect waves-light deep-orange lighten-2">ADD EXPENSE</a></li>
                  <li><a href="{% url 'finplanner:dashboard' %}" class="btn waves-effect waves-light deep-orange lighten-2">DASHBOARD</a></li>
                <li><a href="/logout" class="btn waves-effect waves-light deep-orange lighten-2">Logout</a></li>
                 {% else %}

                  <li><a href="/accounts/login" class="btn waves-effect waves-light deep-orange lighten-2">LOGIN</a></li>
                <li><a href="/accounts/register" class="btn waves-effect waves-light deep-orange lighten-2">Register</a></li>

                {% endif %}
            </ul> -->
            <form class=" hide-on-med-and-down" id="form1">
                <div class="input-field" style="max-width: 400pt;">
                    <input id="search" type="search" required onkeyup="getBlogs(this.value,0);">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                    <div id="searchResults"></div>
                </div>
            </form>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Contact Us</a></li>
                <li class="search">
                    <div class="search-wrapper card input-field">
                        <input type="search" required onkeyup="getBlogs(this.value,1);">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                        <div id="searchResults2"></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<html>
</body>
