{% extends 'base.html' %}
{% load static %} {% load bootstrap4 %}



{% block content %}
{{ form.media }}
<div class="container" style="background-color:whitesmoke;margin-top:100px;">
    <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-5" style="font-size: 18px;">
                    {{ profile.username }}
                    {{ profile_info.contact }}
                     <a href="{% url 'list' %}" >{{profile_info.bank }}</a>

                    {% if profile.username == user.username %}
                    <a href="{% url 'edit_profile' %}">Edit Profile</a>
                    <a data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-2x"></i></a>
                    {% endif %}
                </div>

            </div>
     </div>
     {% endblock  %}
